<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkered Board</title>
    <style>
        table tr td{
            width: 50px;
            height: 50px;
        }
        .color0{
            background-color: {{color1}};
        }
        .color1{
            background-color: {{color2}};
        }
    </style>
</head>
<body>
    <table>
        {%for row in range(rows)%}
        <tr>
            {%for column in range(columns)%}
            <td class="color{{(column + row) %2}}"></td>
            {%endfor%}
        </tr>
        {%endfor%}
    </table>
</body>
</html>